pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TABLE_NAME from INFORMATION_SCHEMA.TABLES where TABLE_NAME not in ('daily_load_Recon_Status',\n'summary','pipeline_log','Customer_Dim','Customer_Dim1','Customer_Dim2','database_firewall_rules','')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM item().Table_Name \nWHERE LastUpdated >= '@{formatDateTime(trigger().outputs.windowStartTime, 'yyyy-MM-dd HH:mm:ss')}'\nAND LastUpdated < '@{formatDateTime(trigger().outputs.windowEndTime, 'yyyy-MM-dd HH:mm:ss')}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable4",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}