pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TABLE_NAME from INFORMATION_SCHEMA.TABLES where TABLE_NAME not in ('daily_load_Recon_Status',\n'summary','pipeline_log','Customer_Dim','Customer_Dim1','Customer_Dim2','database_firewall_rules','')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[ramp]",
									"storedProcedureParameters": {
										"enddate": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.triggerstart",
												"type": "Expression"
											}
										},
										"startdate": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.triggerend",
												"type": "Expression"
											}
										},
										"tablename": {
											"type": "String",
											"value": {
												"value": "@item().Table_Name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable4",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@item().Table_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText2",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@{concat(item().Table_Name, formatDateTime(convertFromUtc(pipeline().parameters.triggerstart, 'UTC'), 'yyyyMMddHHmm'), '.csv')}\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "query",
									"value": "@concat(    'SELECT * FROM [', item().Table_Name, '] ',    'WHERE ModifiedDate >= ''', pipeline().parameters.triggerstart, ''' ',    'AND ModifiedDate < ''', pipeline().parameters.triggerend, '''' )"
								}
							],
							"typeProperties": {
								"variableName": "variable",
								"value": "@concat(\n   'SELECT * FROM [', item().Table_Name, '] ',\n   'WHERE ModifiedDate >= ''', pipeline().parameters.triggerstart, ''' ',\n   'AND ModifiedDate < ''', pipeline().parameters.triggerend, ''''\n)\n"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"triggerstart": {
				"type": "string",
				"defaultValue": "@trigger().outputs.windowStart"
			},
			"triggerend": {
				"type": "string",
				"defaultValue": "@trigger().outputs.windowEnd"
			}
		},
		"variables": {
			"variable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}